@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primarycolor: #a3e635;
  --whiteColor: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  text-align: center;
  height: 75px;
  background-color: var(--primarycolor);
  padding-bottom: 2rem;
}

.header-text {
  text-align: center;
  padding-top: 2rem;
  color: var(--whiteColor);
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
}

.container-center {
  max-width: 650px;
  margin: auto;
}

#input {
  margin-top: 3rem;
  width: 615px;
  height: 60px;
  display: block;
  padding: 1rem;
  border: 1px solid var(--primarycolor);
  margin: 3rem auto;
  font-size: 0.9rem;
  font-weight: 300;
}

#button {
  background-color: var(--primarycolor);
  color: var(--whiteColor);
  font-size: 1.2rem;
  font-weight: 300;
  width: 200px;
  height: 50px;
  border-color: 1px solid var(--whiteColor);
}

#output-info {
  font-size: larger;
  padding: 2rem;
  font-weight: 300;
}

#output {
  border: 1px solid var(--primarycolor);
  margin-bottom: 3rem;
  width: 615px;
  height: 10vh;
  display: block;
  padding: 1rem;
  font-weight: 300;
}

.footer {
  background-color: var(--primarycolor);
  padding: 1rem;
  text-align: center;
  color: var(--whiteColor);
  margin-top: 2rem;
}

.footer-header {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.footer-about {
  text-align: justify;
}

.footer-social-links {
  padding-left: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.footer-links {
  color: var(--whiteColor);
  text-decoration: none;
  padding-left: 0px;
}
